---
title: Verification
id: "20250527225826"
types:
  - sub_list
---

# Verification
The process of testing a hardware design. It's inherantly more complex due to the nature of hardware.

Items:
- [[20250527225508|UVM]]